.footer_main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  margin: 20px 0;
  

  & a {
    color: #161c35;
    font-size: 16px;
    margin: 10px 14px;
    text-decoration: none;
    position: relative;
    width: 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;

    &:hover {
      color: aliceblue;

      &::before {
        background-color: #161c35;
      }
    }

    &::before {
      content: "";
      width: 25px;
      border: 1px solid #161c35;
      height: 25px;
      left: -3px;
      top: -3px;
      position: absolute;
      transition-duration: 0.3s;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}
