.contacts {
    text-align: center;
    padding: 90px 0;
    }
    
    .contacts_title {
    margin-bottom: 40px;
    }
    
    
    .button {
    padding: 40px 0 80px 0;
    }
    
    .btn {
      background-color: #070707;
      display: inline-block;
      padding: 7px 22px;
      border-radius: 30px;
      color: #F1F1F1;
      font-size: 18px;
      transition: 0.6s;
      &:hover {
        color: #070707;
        background-color: #F1F1F1;

      }
    }
    
    .social_contacts {
    font-size: 40px;
    display: flex;
    column-gap: 60px;
    justify-content: center;
    & a {
        color: #070707;
      }
    }
    
    .contacts_content {
      font-size: 18px;
      font-weight: 400;
      
    }
    
    .social_contacts_like {
      padding-top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    }