.accordion_productPage {
    padding-top: 60px;
    max-width: 300px;
}

.accordion__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.43;
    color: #6f6e6e;
    transition: color 0.2s;
    &:hover {
        color: #f16d7f;
    }
  }
  
.accordion__content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    transition: display 0.2s;
  }
  .accordion__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #6f6e6e;
    line-height: 2.36;
    transition: color 0.2s;
    &:hover {
        color: #f16d7f;
    }
  }
  