.product__box {
  flex-basis: 74%;
}
.product__wrapper {
  padding-top: 60px;
  padding-left: 99px;
  gap: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.product__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #6f6e6e;
  text-transform: uppercase;
}
.product__radio {
  display: none;
}
.product__radio:checked + .product__radio-label {
  color: #f16d7f;
}
.product__radio-label {
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: #f16d7f;
  }
  &:not(:last-child):after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
    color: #636363;
    transition: color 0.2s;
  }
}
.product__check {
  cursor: pointer;
}
.product__check:hover + .product__check-label {
  color: #f16d7f;
}
.product__check:checked + .product__check-label {
  color: #f16d7f;
}
.product__check-label {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  text-transform: uppercase;
  transition: color 0.2s;
  cursor: pointer;
  &:hover {
    color: #f16d7f;
  }
  &:not(:last-child) {
    margin-right: 23px;
  }
}

.product__sort {
  padding-left: 99px;
}
