.button {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #4a4a4a;
    border: 1px solid #e6e6e6;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 30px;
    transition: all 0.6s;
    &:hover {
        background-color: #f16d7f;
        color: #fff;
        
    }
  }